<div class="jumbotron">
    <div class="container text-center">
        <h1 class="text-center">MEAN Stack Application</h1>
        <p class="lead text-center">Welcome to the MEAN Stack Application by <strong>Amos Tobi</strong></p>
        <p>
            <a routerLink='/register' class="btn btn-primary">Register</a>
            <a routerLink='/login' class="btn btn-primary">Login</a>
            
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 text-center">
                <div class="panel-body">
                        <i class="fa fa-user fa-4x"></i>
                        <h3>Express Js</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae eveniet beatae voluptatum porro a repellat quaerat quas aliquam assumenda voluptatibus minima consequuntur, earum corrupti velit animi fugiat exercitationem! Soluta, ea.</p>
                </div>
        </div>
        <div class="col-md-4 text-center">
                <div class="panel-body">
                        <i class="fa fa-user fa-4x"></i>
                        <h3>Node Js</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae eveniet beatae voluptatum porro a repellat quaerat quas aliquam assumenda voluptatibus minima consequuntur, earum corrupti velit animi fugiat exercitationem! Soluta, ea.</p>
                </div>
        </div>
        <div class="col-md-4 text-center">
                <div class="panel-body">
                        <i class="fa fa-user fa-4x"></i>
                        <h3>Angular 2</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae eveniet beatae voluptatum porro a repellat quaerat quas aliquam assumenda voluptatibus minima consequuntur, earum corrupti velit animi fugiat exercitationem! Soluta, ea.</p>
                </div>
        </div>
    </div>
</div>