<div class="row">
  <div class="row show-hide-message">
    <div [ngClass]="messageClass" >
      {{message}}
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <form [formGroup]="registerForm" novalidate (submit)="onSubmit();">
      <div class="form-group">
        <label for="username">Username</label>
        <div [ngClass]="{'has-error':(username.errors && username.dirty) || (!usernameValid && username.dirty), 'has-success': !username.errors && usernameValid}">
          <input type="text" (blur)="checkUsername()" formControlName="username" class="form-control">
          <ul class="help-block">
            <li *ngIf="username.errors?.required && username.dirty">
              This field is required
            </li>
            <li *ngIf="username.errors?.minlength || username.errors?.maxlength">
              Minimum characters : 3, Maximum characters : 15
            </li>
            <li *ngIf="username.errors?.validateUsername && username.dirty">
              Username must not have any special characters
            </li>
            <li *ngIf="usernameMessage">{{usernameMessage}}</li>
          </ul>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <div [ngClass]="{'has-error':(email.errors && email.dirty) ||(!emailValid && email.dirty) , 'has-success': !email.errors && emailValid}">
          <input type="email" (blur)="checkEmail()" autocomplete="off" class="form-control" name="email" id="email" formControlName="email">
          <ul class="help-block">
            <li *ngIf="email.errors?.required && email.dirty">
              This field is required
            </li>
            <li *ngIf="email.errors?.minlength || email.errors?.maxlength">
              Minimum characters :5, Maximum characters : 15
            </li>
            <li *ngIf="email.errors?.email && email.dirty">
              This must be a valid Email address
            </li>
            <li *ngIf = "emailMessage">{{emailMessage}}</li>
          </ul>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <div [ngClass]="{'has-error':(password.errors && password.dirty), 'has-success': !password.errors}">
          <input type="password" name="password" id="password" formControlName="password" class="form-control">
          <ul class="help-block">
            <li *ngIf="password.errors?.required && password.dirty">
              This field is required
            </li>
            <li *ngIf="password.errors?.minlength || password.errors?.maxlength">
              Minimum characters : 8 , Maximum characters : 35
            </li>
            <li *ngIf="password.errors?.validatePassword && password.dirty">
              Password Must have at least one uppercase letter, one number and a special character
            </li>
          </ul>
        </div>
      </div>
      <div class="form-group">
        <label for="password2">Confirm Password</label>
        <div [ngClass]="{'has-error':(password2.errors && password2.dirty) ||( registerForm.errors?.matchingPasswords && password2.dirty), 'has-success': !password2.errors && !registerForm.errors?.matchingPasswords}">
          <input type="password" name="password2" class="form-control" id="password2" formControlName="password2">
          <ul class="help-block">
            <li *ngIf="password2.errors?.required && password2.dirty">
              This field is required
            </li>
            <li *ngIf="registerForm.errors?.matchingPasswords && password2.dirty">Passwords do not match</li>
          </ul>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="!registerForm.valid || processing || !emailValid || !usernameValid" class="btn btn-lg btn-primary"> <i class="fa fa-user"></i> Register</button>
      </div>
    </form>
    <p>{{registerForm.status | json}}</p>
    <p>{{registerForm.value | json}}</p>
  </div>
  <div class="col-md-2"></div>
</div>
